* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  background-color: #ffbf00;
  border-bottom: 8px solid #c90;
  font-size: 1.5rem;
  margin-block: 0;
  margin-left: -32px;
  padding-inline: 32px;
  padding-block: 11.75px;
  width: fit-content;
}

.card {
  background-color: #fff;
  border-bottom: 8px solid #999;
  margin-block: 60px;
  margin-inline: auto;
  max-width: 800px;
  padding-top: 8px;
  padding-inline: 24px;
}

.card p {
  margin-block: 24px;
}

strong {
  color: #096;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.intro-chunk {
  padding: 24px;
  max-width: 450px;
}

main {
  background-color: #666;
  border-top: 8px solid #999;
  height: 100%;
}
